<header class="bg-pink-600">
	<nav class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8" aria-label="Top">
		<div class="flex items-center justify-between w-full py-1 border-b border-pink-500 lg:border-none">
			<div class="flex items-center">
				<a href="{{ path('app_stable') }}" class="group">
					<span class="sr-only">NICO-NI NIIIifusion</span>
					<img class="w-auto h-20 group-hover:h-0" src="{{ asset('build/images/stable/nico.webp') }}" alt="">
					<img class="w-auto h-0 group-hover:h-14 group-hover:m-3" src="{{ asset('build/images/logo.gif') }}" alt="">
				</a>
				<div
					class="ml-10 space-x-8 ">
		
					<h1 class="text-4xl text-white uppercase font-title font-extralight">
						NICO-NI NIIIiffusion</h1>
				</div>
			</div>			
		</div>
	</nav>
</header>
