<!DOCTYPE html>
<html lang="fr" class="dark">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<title>
			{% block title %}
			
			{% endblock %} | Kawaii-Desu OCR & Translation
		</title>

		{{ encore_entry_link_tags('stable') }}
		{{ encore_entry_script_tags('stable') }}

	</head>
	<body class="antialiased bg-slate-600">
		<div class="flex flex-col justify-between min-h-screen font-front">

			{% include "stable/includes/header.html.twig" %}
			<main class="container px-3 mx-auto lg:px-0">
				{% block body %}{% endblock %}
			</main>
			{% include "stable/includes/footer.html.twig" %}
		</div>
		
	</body>
</html>
