<h2 id="extensions">Extensions</h2>
<p>To use with AUTOMATIC1111 UI</p>
<h3 id="extensions_a1111-sd-webui-lycoris">a1111-sd-webui-lycoris</h3>
<p>Add compatibility to lycoris overloaders<br/>
	no need to change parameters</p>

<h3 id="extensions_a1111-sd-webui-tagcomplete">a1111-sd-webui-tagcomplete</h3>
<p>Add autocompletion in your prompt based on the tag you can find on Danbooru</p>
1685863617678.png

<p>In settings, enable this options if is not already</p>
firefox_iCQS2f2eLo.png

<h3 id="extensions_sd-dynamic-prompts">sd-dynamic-prompts</h3>

<p>Enable the wildcards, a powerful tool in your prompt</p>

Example :

Code:

<pre><code>hair, (best quality, masterpiece:1.2), <span class="text-pink-400">__hair-color__</span> hair , <span class="text-pink-400">__eyecolor__</span> eyes, beach</code></pre>


<p>The prompt will take a random value from the file with the same name you need to put the files there :</p>
<code>stable-diffusion-webui\extensions\sd-dynamic-prompts\</code>

<p>You can create your own files or you can also found better and complete wildcard on Civitai or also on ATF.</p>

<p>You also can choose a keyword directly from the autocompletion. It’s not anymore random, but it’s useful if you need an idea.</p>
1685864510716.png


<h3 id="extensions_sd-webui-infinite-image-browsing">sd-webui-infinite-image-browsing</h3>
<p>Just a simple browser image directly on your interface. Better than the official extension.</p>
1685864723601.png


<h3 id="extensions_ultimate-upscale-for-automatic1111">ultimate-upscale-for-automatic1111</h3>
<p>It’s a farest better upscaler than the default, and it’s compatible with controlNet.</p>

<p>
	<strong>Basic parameters</strong>
</p>
<img src=" {{ asset('build/images/stable/ultimate-upscale.png') }}" alt="hide-sampler">

<h3 id="extensions_civitaiHelper">Civitai Helper</h3>
<p>This extension will make your life easier with the civitai site.
	<br>
	Once installed you can scan all your models, lora, etc... And it will automatically download the preview.
	It can also fetch new versions for you and install them. Perfect for saving time and getting lost in folders.</p>

<p>The GitHub is clear enough that I don't need to explain it here :
	<a href="https://github.com/butaixianran/Stable-Diffusion-Webui-Civitai-Helper" target="_blank" rel="noopener noreferrer">Stable Diffusion Webui Civitai Helper</a>
	<br>
	<i>(thanks to a friend for telling me about this extension)</i>
</p>
