<h2 id="finish">Finish</h2>

<p>Congratulations! You've finished the main part of this tutorial. Now you have all the basics for prompting as if your life depended on it.</p>

<img class="mx-auto" src=" {{ asset('build/images/stable/shia-labeouf-just-do-it-green-background.gif') }}" alt="hide-sampler">
<hr>
<p>For the future, I intend to add a section on controlNet and a few other modules. I'm not ruling anything out.</p>