<h3>Some models are more specialized and can be divided into four types</h3>
<strong>NoRealistic (2D), MidRealist (2.5D), PseudoPhotorealistic (3D)</strong>
<p>Keep in mind that almost any model can move from one category to another (more or less efficiently) with the right keywords like :
</p>

<code>(realistic:1.2),(photorealistic:1.2)</code>

<p>If you put them in the prompt then you're approaching a 3D model, otherwise if you put them in the negative prompt then you're approaching a 2D model.</p>

<strong>Adult content</strong>
<p>
	There are also two possible model sub-categories: safe and NSFW (Not safe for Work). The former tend to produce images for the general public, avoiding pornographic or extremely violent images. 
	            The second are just the opposite. In fact, most models are capable of both. As with realism, it's possible to push a model in one direction or another:
</p>

<code>nsfw, hentai</code>

<p>If you put them in the prompt then you'll more often get porn images, in the negative it will try to avoid this kind of content.</p>

<p>Never forget that it's not an exact science. Even with the right keywords, a model can produce nsfw content by accident, but you still reduce the risk by 95%.</p>

<p>And before you ask, here, some models I found interesting :</p>
<h3 class="text-center">NoRealistic (2D)</h3>

<div class="grid items-center justify-around grid-cols-3 text-center">
	<div>
		<a href="https://civitai.com/models/30240/toonyou" target="_blank" class="" rel="nofollow noreferrer noopener">ToonYou</a>
	</div>
	<div>
		<a href="https://civitai.com/models/79729/pupumix" target="_blank" class="" rel="nofollow noreferrer noopener">PupuMix</a>
	</div>
	<div>
		<a href="https://civitai.com/models/2583/hassaku-hentai-model" target="_blank" class="" rel="nofollow noreferrer noopener">Hassaku</a>
	</div>
</div>

<img class="mt-1" src=" {{ asset('build/images/stable/2D.webp') }}" alt="2D">

<h3 class="text-center">MidRealist (2.5D)</h3>

<div class="grid items-center justify-around grid-cols-3 text-center">
	<div>
		<a href="https://civitai.com/models/27688/beenyou" target="_blank" class="" rel="nofollow noreferrer noopener">BeenYou</a>
	</div>
	<div>
		<a href="https://civitai.com/models/46745/epic25d" target="_blank" class="" rel="nofollow noreferrer noopener">Epic 2.5D</a>
	</div>
	<div>
		<a href="https://civitai.com/models/12632/clockwork-oranges" target="_blank" class="" rel="nofollow noreferrer noopener">Clockwork Oranges</a>
	</div>
</div>

<img class="mt-1" src=" {{ asset('build/images/stable/2-5D.webp') }}" alt="2,5D">

<h3 class="text-center">PseudoRealistic (3D)</h3>

<div class="grid items-center justify-around grid-cols-3 text-center">
	<div>
		<a href="https://civitai.com/models/15003/cyberrealistic" target="_blank" class="" rel="nofollow noreferrer noopener">Cyber Realistic</a>
	</div>
	<div>
		<a href="https://civitai.com/models/4201/realistic-vision-v20" target="_blank" class="" rel="nofollow noreferrer noopener">Realistic Vision</a>
	</div>
	<div>
		<a href="https://civitai.com/models/6424/chilloutmix" target="_blank" class="" rel="nofollow noreferrer noopener">Chillout Mix</a>
	</div>
</div>
<img class="mt-1" src=" {{ asset('build/images/stable/3D.webp') }}" alt="3D">

<div class="p-4 rounded-md bg-red-50 not-prose">
	<div class="flex">
		<div class="flex-shrink-0">
			<svg class="w-5 h-5 text-red-400" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
				<path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
			</svg>
		</div>
		<div class="ml-3">
			<h3 class="text-sm font-medium text-red-800">
				Never forget this :</h3>
			<div class="mt-2 text-sm text-red-700">
				<p>(<b>Photo</b>)REALISTIC MODELS CAN PROVOKE BAN OR LEGAL PROBLEM ON IF YOU GO TOO FAR !!</p>
			</div>
		</div>
	</div>
</div>
