<p class="italic font-medium text-cyan-300">«wtf is lora ? lycoris ? cktp ? help !»</p>

<h2>The model</h2>

<p>To make images, only one thing is mandatory, a model file, they exist in two types. ckpt or safetensors. The second was created because the ckpt file can be full of viruses. So I strongly advise against their use.</p>

<p>Sometimes model files need to be color-corrected, to achieve this we use a VAE file. To use them with this interface it's simple: they just need to have the same name as the model file, with
	<code class="inline">.vae</code>
	at the end and put next to it. Like this :</p>
<ul>
	<li>stable-diffusion-webui-ux\models\Stable-diffusion\<b class="text-pink-400">abyssorangemix3AOM3_aom3</b>.safetensors<br></li>
	<li>stable-diffusion-webui-ux\models\Stable-diffusion\<b class="text-pink-400">abyssorangemix3AOM3_aom3<span class="text-red-300">.vae</span>
		</b>.safetensors<br></li>
</ul>

<p>
	If you download the model on civitai it's marked if it needs a VAE and offers it for download.
</p>
<p>
	The model is the central element of your generation, making 98% of the rendering. It's also the one that's sensitive to your prompt.
</p>
<p>
	It's up to you to choose what you like. On
	<a href="https://civitai.com/" target="_blank" class="link link--external" rel="nofollow ugc noopener">Civitai</a>
	or
	<a href="https://pixai.art/market" target="_blank" class="link link--external" rel="nofollow ugc noopener">Pixai</a>
	there's plenty to pick.</p>

<p class="italic font-medium text-cyan-300">«Yes, but there's too much choice, I'm lost!»</p>

<p>Ok, so, start with this one :
	<a href="https://civitai.com/models/10028" target="_blank" class="link link--external" rel="nofollow ugc noopener">https://civitai.com/models/10028</a>
</p>

<p>It’s a versatile model, you can create semi-realistic, manga or comic. Thanks to
	<span style="color: rgb(209, 72, 65)">ca9</span>
	for this idea.</p>
