<div class="rounded-md p-7 bg-slate-600">
    <h2 id="relecture">Relecture</h2>
    
    <p>
        La relecture aussi appel le «Check», consiste à relire avec précaution le travail qui est normalement
        fini afin de déceler des erreurs et oublie. Ce n’est pas à prendre à la légère. Il n’est pas rare que tout
        un travail pourtant correct, sois gaché par un trop grand nombre de fautes d’orthographe.
    </p>
    <p>
        Qu’il y ai quelques fautes, notamment sur des temps à la mord-moi-l’nœud. Dans une traduction amateur donc gratuite.
        C’est excusable. Ça arrive.
    </p>
    <h3 id="relecture-texte">Texte</h3>
    
    <h3 id="relecture-sfx">SFX</h3>
    <p>
    
    </p>
</div>