<div class="rounded-md p-7 bg-slate-600">
    <h2 id="introduction">Logiciels</h2>
    
    <p>
        Je sais bien que la majorité des gens vont simplement utiliser une version piratée de photoshop.
        Néanmoins, il éxiste des alternatives à ce logiciel. Et il y a déja plein de tuto limité à photoshop.
        Je cherche ici à proposer autre chose. que les habituels tutos vidéo youtube sur photoshop.
    </p>
    
    <h3 id="alternative-photoshop">Alternatives à Photoshop</h3>
    <ul>
        <li><a href="https://www.photopea.com/" target="_blank" rel="nofollow noreferrer noopener">Photopea</a> En ligne | Gratuit avec pub</li>
        <li><a href="https://affinity.serif.com/fr/" target="_blank" rel="nofollow noreferrer noopener">Suite Affinity</a> Local | Payant sans abo</li>
    </ul>
    
    <h3 id="outil-de-nettoyage">Outil de nettoyage</h3>
    <ul>
        <li><a href="https://www.iopaint.com/" target="_blank" rel="nofollow noreferrer noopener">IOPaint</a> Local | gratuit</li>
        <li><a href="https://cleanup.pictures/" target="_blank" rel="nofollow noreferrer noopener">CleanUp Pictures</a> En ligne | freemium</li>
    </ul>
    
    <h3 id="alternative-gigapixel">Alternative à Gigapixel IA ou Waifu 2X</h3>
    <ul>
        <li><a href="https://www.upscayl.org" target="_blank" rel="nofollow noreferrer noopener">Upscaly</a> Local | Gratuit</li>
    </ul>
    
    <h3 id="correcteur-orthogrpahique">Correcteur orthographique</h3>
    <ul>
        <li><a href="https://languagetool.org/fr" target="_blank" rel="nofollow noreferrer noopener">LanguageTool</a> Outil en ligne | Freemium</li>
    </ul>
    
</div>